// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #f8fafc,
    primary: #004a99, // abba-blue
    primary-dark: #003366, // abba-blue darker
    secondary: #575756, // abba-gray
    secondary-dark: #1e1e1e, // abba-dark
    tertiary: #94a3b8,
    tertiary-dark: #475569
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
