// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #007FC3,
    primary-dark: #00C1DE,
    secondary: #407c8d,
    secondary-dark: #003366,
    tertiary: #365d68,
    tertiary-dark: #182635
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
